
.matrix-selection-page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
  align-items: center;
  height: 100vh;
  margin: auto;


  .social-and-photo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;

    .img-hero {
      position: relative;
      margin-right: -20px;

      &::before {
        width: 70vh;
        content: "";
        background-image: url('../../../assets/hero.png');
        background-size: cover;
        position: absolute;
        top: -63vh;
        right: 0vw;
        bottom: -27.7vh;
        left: 15vw;
        overflow: visible;
        @media screen and (max-width: 1624px) {
          left: 24vw;
        }
        @media screen and (max-width: 1268px) {
          display: none;
        }
      }
    }

    .social-links_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 400px;
      margin-top: 40px;

      .social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        bottom: 30%;
        z-index: 1;
        @media screen and (max-width: 1624px) {
          bottom: 20%;
        }
      }
    }
  }

  .matrix-selection-page_wrapper_h1 {
    font-size: 100px;
    font-weight: normal;
    font-family: 'Cormorant', serif;
    color: #263E80;
  }

  .matrix-selection-page_wrapper_h3 {
    font-size: 25px;
    font-weight: normal;
    font-family: 'Cormorant', serif;
    ccolor: #0144FE;
    margin-bottom: -50px;
  }

  .buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .buttons_wrapper-btn {
      color: white;
      max-width: 320px;
      height: 55px;

      background: radial-gradient(circle, rgb(77, 124, 255) 0%, rgb(38, 62, 128) 100%);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
      font-weight: normal;

      &:hover {
        background: radial-gradient(circle, rgba(1, 68, 254, 1) 0%, rgba(0, 54, 204, 1) 100%);
      }
    }
  }

  .social-links_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 400px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {

  .matrix-selection-page_wrapper {
    gap: 20px;

    .social-and-photo {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 59%;
      //position: relative;

      .img-hero {
        position: relative;
        width: 1310px;
        margin-right: -20px;

        &::before {
          width: 370px;
          content: "";
          background-image: url('../../../assets/hero.png');
          background-size: cover;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: -52px;
          overflow: hidden;
        }
      }

      .social-links_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 400px;
        margin-top: 40px;

        .social-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 400px;
          margin-top: 40px;
          position: absolute;
          bottom: 30%;
          z-index: 1;
        }
      }
    }


    .matrix-selection-page_wrapper_h1 {
      font-size: 60px;
    }

    .matrix-selection-page_wrapper_h3 {
      font-size: 15px;
      margin-bottom: -30px;
    }

    .buttons_wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .buttons_wrapper-btn {
        max-width: 250px;
        font-size: 12px;
        padding: 15px;
        height: 45px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .matrix-selection-page_wrapper {
    gap: 35px;
    width: 100%;
    justify-content: flex-end;

    .social-and-photo {
      .img-hero {
        &::before {
          display: block;
          width: 380px;
          content: "";
          background-image: url('../../../assets/hero.png');
          background-size: cover;
          position: absolute;
          top: -50px;
          right: 0px;
          bottom: 0px;
          left: 20px;
          overflow: hidden;
        }
      }
    }

    .matrix-selection-page_wrapper_h1 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 413px) {
  .matrix-selection-page_wrapper {
    .social-and-photo {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 59%;

      .img-hero {
        position: relative;
        width: 1310px;
        margin-right: -20px;

        &::before {
          display: block;
          width: 340px;
          content: "";
          background-image: url('../../../assets/hero.png');
          background-size: cover;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 15x;
          overflow: hidden;
        }
      }

      .social-links_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 400px;
        margin-top: 40px;

        .social-links {
          position: absolute;
          bottom: 28%;
          z-index: 1;
        }
      }
    }
  }
}